body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
}

input{
	width: 250px !important;	
}

#helloDiv{
	text-align: center;
	padding-top: 7%;
}

.ui-panelgrid td {
    border: none !important;
}
